@model IEnumerable<BugTracker.Models.Project>
@using BugTracker.Models.Enums
@using Microsoft.AspNetCore.Identity
@using BugTracker.Services.Interfaces

@inject UserManager<BTUser> UserManager
@inject IBTProjectService ProjectService

@{
    ViewData["Title"] = "Archived Projects";
    BTUser btUser = await UserManager.GetUserAsync(User);
}

<h1>Archived Projects</h1>

<table class="table table-striped">
    <thead class = "bg-dark">
        <tr class = "text-white">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectPriority)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class = "col-2">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class = "col-5">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                             
                <td class = "col-1">
                    @Html.DisplayFor(modelItem => item.ProjectPriority.Id)
                </td>
                <td class = "col-2">
                    <a class="btn btn-sm btn-outline-info" asp-action="Details" asp-route-id="@item.Id"><i class="fs-5 bi-justify"></i></a>
                    @{
                        bool isProjectPM = (await ProjectService.GetProjectManagerAsync(item.Id))?.Id == btUser.Id;
                    }

                    @if (User.IsInRole(nameof(Roles.Admin)) || isProjectPM)
                    {
                       <a class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id"><i class="fs-5 bi-pencil"></i></a>
                       <a asp-action="Restore" asp-route-id="@item.Id" class="btn btn-sm btn-outline-success"><i class="fs-5 bi-bag-check"></i></a>      

                    }                 

                </td>
            </tr>
        }
    </tbody>
</table>
